[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-migrate = "*"
flask-admin = "*"
flask-login = "*"
flask-security = "*"
flask-bootstrap = "*"
flask-nav = "*"

[requires]
python_version = "3.7"
