{% extends "bootstrap/base.html" %}

{% block content %}
<div class="text-center">
    <h1>Register Form</h1>
</div>
                <form action="" method="post" novalidate>
                    {{  form.hidden_tag()  }}
                    <div class="col-md-2 col-lg-offset-5">
                        <p>
                            {{form.username(size=32,class='form-control form', placeholder='Username')}}
                        </p>
                        {{form.password(size=32,class='form-control', placeholder='Password')}}
                        </p>
                        <p>
                            {{form.re_check(size=32,class='form-control', placeholder='Retype Password')}}
                        </p>
                        <p>
                            {{form.email(size=32,class='form-control', placeholder='Email')}}
                        </p>
                        <p>{{ form.submit(class='btn btn-primary form-control') }}</p>
                    </div>
            </form>
{% endblock %}
